/*
h2 {
    color: orange;
    background-color: aquamarine;
}

p {
    color: blueviolet;
    background-color: rebeccapurple;
}

body {
    background-color: rgb(0, 200, 0);
}
*/


button {
    color: indianred;
    background-color: cyan;
}


h1 {
    text-align: center;
    width: 100;
    font-weight: 900;
    text-decoration: orange wavy underline;
    letter-spacing: 50px;
    font-size: 80px;
    /* font-family:Segoe UI,Arial*/
    font-family: monospace;
}

p {
    font-weight: 900;
}

a {
    text-decoration: none;
}
